<div class="row no-gutters justify-content-center h-100">
    <div class="col-11 mt-3">
        <app-management-navbar></app-management-navbar>
    </div>
    <div class="col-11">
        <app-atmosphere-gas *ngIf="selectedTab == 'atmosphere-gas'"></app-atmosphere-gas>
        <app-flue-gas *ngIf="selectedTab == 'flue-gas'"></app-flue-gas>
        <app-gas-load-charge-material *ngIf="selectedTab == 'gas-load-charge-material'"></app-gas-load-charge-material>
        <app-liquid-load-charge-material *ngIf="selectedTab == 'liquid-load-charge-material'">
        </app-liquid-load-charge-material>
        <app-motors *ngIf="selectedTab == 'motors'"></app-motors>
        <app-pumps *ngIf="selectedTab == 'pumps'"></app-pumps>
        <app-solid-liquid-fuels *ngIf="selectedTab == 'solid-liquid-fuels'"></app-solid-liquid-fuels>
        <app-solid-load-charge-material *ngIf="selectedTab == 'solid-load-charge-material'">
        </app-solid-load-charge-material>
        <app-wall-surfaces *ngIf="selectedTab == 'wall-surfaces'"></app-wall-surfaces>
    </div>
</div>